:root {
    --c1: #ffa07a;
    --c2: #ffb68c;
    --c3: #ffcfa3;

    --c4: #89b9de;
    --c5: #b4d8e7;
    --c6: #e4f1f6;

    --c7: #423c6f;
    --c8: #6f5b96;
    --c9: #9b8bbf;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    transition: background .5s ease;
}